* {
  box-sizing: border-box;
}

body {
  font-family: "Helvetica", "Arial", sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

header {
  background: #0057b7;
  font-family: cursive;
  border-bottom: 1px solid #091e4224;
  color: white;
}

main {
  display: flex;
  height: calc(100vh - 165px);
  width: 100vw;
  overflow: auto;
}

footer {
  font-family: cursive;
  background: #ffcc00;
  height: 3vh;
  color: #0066cc;
  border-top: 1px solid #091e4224;
  height: 50px;
}

header,
footer {
  padding: 10px;
}

.school {
  border: 1px solid #ddd;
  padding: 20px;
  margin: 20px 0;
  background-color: #f9f9f9;
  border-radius: 20px;
}

.school h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.school ul {
  list-style: none;
  padding: 0;
}

.school li {
  margin-bottom: 5px;
}

#school-info {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-flow: wrap;
}
